input{
    width:50%

}
.container{
    background-color: cornsilk;
    text-align: center;
    transform-box: unset;
     margin-bottom: 20px;
    border: 10px;
    
}


img{
    width: 200px;
    height: 200px;
}